#root {
  max-width: 100vw;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-left: auto;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  font-size: .7em;
  min-width: 100vw;
  margin-top: auto;
}
