h1 {
	font-family:arial;
	color:navy;
}
table {
	border: black solid 1px;
}
p, td	{
	font-family:arial;
	font-size:11px;
	color:black;
	vertical-align: top;
}
#newsCell {
	vertical-align:top;
}
.smallText {
	color: gray;
	font-size: smaller;
}